@model List<MedicalServicesManagement.WebApp.Models.AppointmentViewModel>
@{
    ViewData["ShowTitle"] = true;
    ViewData["Title"] = "Доступные талоны:";
}

<section class="appointment section">
    <div class="container" data-aos="fade-up">
        @if (User.IsInRole(Constants.AdminRole) || User.IsInRole(Constants.ReceptionistRole))
        {
            <div class="row gy-10 mb-3">
                <div class="col-lg-10 d-flex justify-content-between align-items-center">
                    <a asp-controller="Appointments" asp-action="Add" class="btn btn-appointment">Добавить талон</a>
                </div>
            </div>
        }

        <div class="row gy-3">

            @foreach (var appointment in Model)
            {
                <div class="col-lg-10">
                    <div class="appointment-form-wrapper appointment-card d-flex justify-content-between align-items-center">
                        <div class="appointment-info">
                            <div class="patient-name fw-bold">@appointment.Patient?.FullName</div>
                            <div class="service-name text-muted">@appointment.Service?.Name (@(appointment.Service.ForAdults ? "от 18 лет" : "до 18 лет"))</div>
                            <div class="medic-name text-primary">@appointment.Medic?.FullName</div>
                            <div class="appointment-time mt-1">
                                <span class="badge bg-info">
                                    @(appointment.StartDate.ToString("dd.MM.yyyy, ddd HH:mm") + " - " + appointment.EndDate.ToString("HH:mm"))
                                </span>
                            </div>
                            <div class="appointment-status mt-1">@await Html.PartialAsync("_AppointmentStatus",appointment.Status)</div>
                            <div class="appointment-cost mt-1">
                                <span class="fw-bold text-primary">@appointment.TotalCost byn</span>
                            </div>
                        </div>

                        <div class="appointment-actions">
                            @if (User.IsInRole(Constants.AdminRole) || User.IsInRole(Constants.ReceptionistRole))
                            {
                                <a asp-action="Edit" asp-route-id="@appointment.Id" class="btn btn-sm btn-primary me-2">Редактировать</a>
                                <a asp-action="Delete" asp-route-id="@appointment.Id" class="btn btn-sm btn-danger">Удалить</a>
                            }
                            @if (User.IsInRole(Constants.PatientRole))
                            {
                                <a asp-action="Choose" asp-route-id="@appointment.Id" class="btn btn-sm btn-primary me-2">Записаться</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>